<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Mam na imię {{ firstname }} {{ lastname }}. Mój numer indeksu to {{ index }}.
</body>
</html>